flows51.json
[
    {
        "id": "bd7aba1691474fc2",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "07946292a6a1b201",
        "type": "http request",
        "z": "bd7aba1691474fc2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.324874&lon=-99.037771&exclude=hourly,daily&appid=0d016e38f9065799225e505166165d05&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "ba26725ea7f3b7f0"
            ]
        ]
    },
    {
        "id": "ba26725ea7f3b7f0",
        "type": "json",
        "z": "bd7aba1691474fc2",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "81924d56a0ef4165",
                "4c0fe71d54c812d5",
                "9e55979523edc4e9"
            ]
        ]
    },
    {
        "id": "03daa6548bb0c18b",
        "type": "inject",
        "z": "bd7aba1691474fc2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "07946292a6a1b201"
            ]
        ]
    },
    {
        "id": "7831b4a94cd7f951",
        "type": "ui_gauge",
        "z": "bd7aba1691474fc2",
        "name": "",
        "group": "ecb018055e0ce70f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#0015b3",
            "#1be600",
            "#ca3838"
        ],
        "seg1": "14",
        "seg2": "26",
        "className": "",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "5faf7ea74e1e08be",
        "type": "ui_gauge",
        "z": "bd7aba1691474fc2",
        "name": "",
        "group": "ecb018055e0ce70f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b37a00",
            "#3de600",
            "#433acb"
        ],
        "seg1": "25",
        "seg2": "60",
        "className": "",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "81924d56a0ef4165",
        "type": "function",
        "z": "bd7aba1691474fc2",
        "name": "temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 80,
        "wires": [
            [
                "7831b4a94cd7f951"
            ]
        ]
    },
    {
        "id": "4c0fe71d54c812d5",
        "type": "function",
        "z": "bd7aba1691474fc2",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "5faf7ea74e1e08be"
            ]
        ]
    },
    {
        "id": "9f7984840d143695",
        "type": "mqtt in",
        "z": "bd7aba1691474fc2",
        "name": "",
        "topic": "codigoIoT/g9/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "b19cfbfb792f6aa6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "f02a2a0be41f34ce"
            ]
        ]
    },
    {
        "id": "f02a2a0be41f34ce",
        "type": "json",
        "z": "bd7aba1691474fc2",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "6b6ee32373f854ad",
                "76173d910eb462de"
            ]
        ]
    },
    {
        "id": "6b6ee32373f854ad",
        "type": "function",
        "z": "bd7aba1691474fc2",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "d7d695f4b2620a3f"
            ]
        ]
    },
    {
        "id": "d7d695f4b2620a3f",
        "type": "ui_chart",
        "z": "bd7aba1691474fc2",
        "name": "",
        "group": "1c24b4aa0f3fc0ca",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#3e1eb3",
            "#789dce",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "76173d910eb462de",
        "type": "function",
        "z": "bd7aba1691474fc2",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 360,
        "wires": [
            [
                "d25f4e8834ea08a1"
            ]
        ]
    },
    {
        "id": "d25f4e8834ea08a1",
        "type": "ui_chart",
        "z": "bd7aba1691474fc2",
        "name": "",
        "group": "1c24b4aa0f3fc0ca",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cfc7a7420506a302",
        "type": "inject",
        "z": "bd7aba1691474fc2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "5920b421a5f759f7"
            ]
        ]
    },
    {
        "id": "5920b421a5f759f7",
        "type": "function",
        "z": "bd7aba1691474fc2",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Vikmonsi, Constitucón 1917, CDMX\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            [
                "a8df25f1653b2e45",
                "292f1b93c8516689"
            ]
        ]
    },
    {
        "id": "a8df25f1653b2e45",
        "type": "debug",
        "z": "bd7aba1691474fc2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "292f1b93c8516689",
        "type": "mqtt out",
        "z": "bd7aba1691474fc2",
        "name": "",
        "topic": "codigoIoT/g9/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b19cfbfb792f6aa6",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "bf730e3a2773a96a",
        "type": "comment",
        "z": "bd7aba1691474fc2",
        "name": "Solicitud API",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "cfe3f25bfd2d0d4e",
        "type": "comment",
        "z": "bd7aba1691474fc2",
        "name": "Informacion General",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "7d09d305b7d56ea8",
        "type": "comment",
        "z": "bd7aba1691474fc2",
        "name": "Enviador",
        "info": "",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "9e55979523edc4e9",
        "type": "function",
        "z": "bd7aba1691474fc2",
        "name": "UV",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "9e779aec230d93e0"
            ]
        ]
    },
    {
        "id": "9e779aec230d93e0",
        "type": "ui_gauge",
        "z": "bd7aba1691474fc2",
        "name": "",
        "group": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "b014fb14ab59b3fa",
        "type": "ui_spacer",
        "z": "bd7aba1691474fc2",
        "name": "spacer",
        "group": "5fd2208396d2dd5f",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "ecb018055e0ce70f",
        "type": "ui_group",
        "name": "Personal",
        "tab": "d4025fbf6d64c778",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b19cfbfb792f6aa6",
        "type": "mqtt-broker",
        "name": "Broker G9",
        "broker": "35.157.252.226",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1c24b4aa0f3fc0ca",
        "type": "ui_group",
        "name": "General",
        "tab": "d4025fbf6d64c778",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5fd2208396d2dd5f",
        "type": "ui_group",
        "name": "Personal",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4025fbf6d64c778",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]