flows31.json
[
    {
        "id": "7cf6e54a1303f746",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9c72bb1675f0e6d",
        "type": "inject",
        "z": "7cf6e54a1303f746",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Texto de prueba",
        "payloadType": "str",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "4ba5513b94cedd0c"
            ]
        ]
    },
    {
        "id": "4ba5513b94cedd0c",
        "type": "ui_text",
        "z": "7cf6e54a1303f746",
        "group": "6057cbdf7d373261",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto de prueba - Label",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "c6da357532d5f509",
        "type": "inject",
        "z": "7cf6e54a1303f746",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic 1",
        "payload": "0",
        "payloadType": "num",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "c2c30894641b4522",
                "766e0c57bb34c62a"
            ]
        ]
    },
    {
        "id": "4dcd5c0da40f5a2e",
        "type": "inject",
        "z": "7cf6e54a1303f746",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic 2",
        "payload": "5",
        "payloadType": "num",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "766e0c57bb34c62a",
                "c2c30894641b4522"
            ]
        ]
    },
    {
        "id": "66a295ae84a020d2",
        "type": "inject",
        "z": "7cf6e54a1303f746",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "c2c30894641b4522"
            ]
        ]
    },
    {
        "id": "c2c30894641b4522",
        "type": "ui_gauge",
        "z": "7cf6e54a1303f746",
        "name": "",
        "group": "4838659b195ed227",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{(msg.topic)}",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "766e0c57bb34c62a",
        "type": "ui_chart",
        "z": "7cf6e54a1303f746",
        "name": "",
        "group": "4838659b195ed227",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6057cbdf7d373261",
        "type": "ui_group",
        "name": "Texto - Group 1",
        "tab": "b3c1a7e34d0fead3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4838659b195ed227",
        "type": "ui_group",
        "name": "Gráficos - Group 2",
        "tab": "b3c1a7e34d0fead3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b3c1a7e34d0fead3",
        "type": "ui_tab",
        "name": "Flow 3 G9 - Tab",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]