flows6.json
[
    {
        "id": "b277f57e9be59dac",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48fbcaad1d7861d4",
        "type": "ui_text",
        "z": "b277f57e9be59dac",
        "group": "98f9b5d3bfb00027",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto recibido",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "cbc992a03a8660da",
        "type": "ui_switch",
        "z": "b277f57e9be59dac",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "ceafaf3593825971",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "eb883c74bd0871f9"
            ]
        ]
    },
    {
        "id": "208f12827d22abe0",
        "type": "mqtt in",
        "z": "b277f57e9be59dac",
        "name": "",
        "topic": "codigoIoT/flow6/mqtt",
        "qos": "2",
        "datatype": "auto",
        "broker": "b19cfbfb792f6aa6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "48fbcaad1d7861d4"
            ]
        ]
    },
    {
        "id": "eb883c74bd0871f9",
        "type": "mqtt out",
        "z": "b277f57e9be59dac",
        "name": "",
        "topic": "codigoIoT/flow6/mqttin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b19cfbfb792f6aa6",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "98f9b5d3bfb00027",
        "type": "ui_group",
        "name": "Rx",
        "tab": "fb0d8780ec5c8e69",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ceafaf3593825971",
        "type": "ui_group",
        "name": "Tx",
        "tab": "fb0d8780ec5c8e69",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b19cfbfb792f6aa6",
        "type": "mqtt-broker",
        "name": "Broker G9",
        "broker": "3.120.0.43",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fb0d8780ec5c8e69",
        "type": "ui_tab",
        "name": "Flow 6 - Comunicación MQTT con ESP32CAM",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]